<div class="row author">
    <div class="col-xs-12">
    <strong>
        Pasang Sherpa | Takatoshi Tomoyose | Aaron Nelson | Jonathan Forbes
    </strong>
    </div>
</div>
<div class="well holder">
    <div class="panel panel-info">
        <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Image</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < activities.length; i++) {
                    var date = new Date(activities[i].get('dockedAt').toString()),
                        hours = date.getHours();
                        date.setHours(hours - 8);
                    var dockedTime = date.toLocaleTimeString(),
                        dockedHour = dockedTime.substring(0,2),
                        dockedTime = dockedHour > 12 ? dockedHour - 12 + dockedTime.substring(2, dockedTime.length) + " PM": dockedTime + " AM",
                        dockedDate = date.toLocaleDateString(),
                        dockedLocalTime = new Date %>
                    <tr id="<%= activities[i].id%>" style="cursor:pointer">
                      <td><%= dockedDate %></td>
                      <td><%= dockedTime %></td>
                      <td><span class="glyphicon glyphicon-picture"></span></td>
                    </tr>
                    <tr style="cursor:default">
                      <td colspan="3"><img src="<%= activities[i].get('image').url()%>" id="img-<%= activities[i].id%>" class="img-responsive hidden" alt="image"></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
        </div>
    </div>
</div>